* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg);

}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg);
	height: 10vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
    font-weight: bold;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
    border-radius: 10px;
}
.logo {
	float: left;
}
.logo img {
	width: 50%;
	padding: 15px 0;
}

.font-20{
    font-size: 20px;
}

.search-blog
{
	padding: 50px 0;
    margin:  50px 10% 50px;
    background-image: linear-gradient(to right,#5b9eda,#fff);

	border-radius: 20px;
    box-shadow:5px 5px 5px #fff;
}

.search-blog .form-control{
	max-width: 250px;
	display: inline-flex;
	margin: 10px 5px;
	border-radius: 0;
	box-shadow: 5px 5px 5px grey !important;
    border: 2px solid grey !important;
   
}

.search-blog .btn-primary{
	border-radius: 0;
	box-shadow: none !important;
	display: inline-flex;
	margin: 5px;
	padding: 5px 20px;
    box-shadow: 5px 5px 5px grey !important;
}


.card-deck
{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
}
.card a
{
    padding: 5px 20px;
	text-decoration: none;
	display: inline-block;
}
.card
{
    display: inline-block;
    max-width: 25rem;
    box-shadow: 5px 5px 5px white !important;
 
}
.card-footer .btn
{
    /*  background-image: linear-gradient(to right,#0033cc,#ccd9ff);
 */
    float: center;
}

/* .btn
{
    float: right;
} */

.btn:hover
{
    background-color:#6db9ef;
}

.pagelink li{
    height:25px ;
    width: 25px;
    list-style: none;
    display: inline-block;
    cursor: pointer; 
}
.pagelink li:hover,.active{
    color: #fff;
    background-image: linear-gradient(to right,#5b9eda,#ccd9ff);
      
}

.left-arrow{
    color: #5b9eda;
}
.right-arrow{
    color:#5b9eda;
}

 

@media (max-width: 475.98px) { 
    .container {
        width: 150%;
    }
 }

@media (max-width: 767.98px) {
    .container .company-details{
        width: auto;
    }
    .blog_item{
        width: 100% !important;
    }
 }

@media (max-width: 991.98px) {
    .container .company-details{
        width: auto;
    }
 }

@media (max-width: 1199.98px) { 
    .container .company-details{
        width: auto;
    }
 }
 @media all and (max-width :1200 )
 {
     .container
     {
         width:1000px;
     }

     .blog_item{
         width: auto;
         /* width: calc(100% / 3); */
     }
 }
/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */


.blog_cont
{

	width: 100%;
	background: #FFFFFF;
	padding-top: 115px;
	padding-bottom: 116px;
}



.blog_container
{

	width: calc(100% + 30px);
    left: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}
.blog_item
{
    display: inline-block;
	width: calc(100% / 3);
	padding-left: 15px;
	padding-right: 15px;
    margin-bottom: 33px;
}


